html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fbfbfb;
}

.h1 {
  font-family: "Arimo", sans-serif;
}

h1 {
  font-family: "Arimo", sans-serif;
}

.h2 {
  font-family: "Arimo", sans-serif;
}

h2 {
  font-family: "Arimo", sans-serif;
}

.h3 {
  font-family: "Arimo", sans-serif;
}

h3 {
  font-family: "Arimo", sans-serif;
}

.h4 {
  font-family: "Arimo", sans-serif;
}

h4 {
  font-family: "Arimo", sans-serif;
}

.h5 {
  font-family: "Arimo", sans-serif;
}

h5 {
  font-family: "Arimo", sans-serif;
}

.p {
  font-family: "Arimo", sans-serif;
}

p {
  font-family: "Arimo", sans-serif;
}

.body {
  font-family: "Arimo", sans-serif;
}

body {
  font-family: "Arimo", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

a {
  color: #ed141d;
}

#wrapper {
  border: 1px dotted #151515;
  margin-bottom: 4em;
}

#header {
  text-transform: capitalize;
  border-bottom: 1px dotted #e2e2e2;
}
#header h2 {
  color: #ed141d;
  font-size: 2em;
}
#header span {
  color: #7b7b7b;
  padding: .4em;
}

.top-right {
  position: absolute;
  right: 0;
  top: 0;
}

.border {
  border: 1px dotted #e2e2e2;
}

.item {
  background-color: #fff;
  overflow: auto;
  padding: .8em;
  margin: .6em;
}

#footer {
  border-top: 1px dotted #e2e2e2;
  padding: .6em;
}
#footer a {
  color: #7b7b7b;
}

@media only screen and (max-width: 992px) {
  .top-right {
    top: -30px;
  }

  #header h2 {
    margin-top: 30px;
  }
}
