/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: #fbfbfb;
  height: 100%;
  width: 100%;
  font-family: 'Arimo', sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

hr {
  margin: 1em 0;
}

em {
  font-style: italic;
}

header {
  border-bottom: 1px dotted #e2e2e2;
  position: relative;
}
header h1 {
  color: #ed141d;
  font-size: 2em;
  padding: .4em 0;
  text-align: center;
}
header time {
  color: #7b7b7b;
  padding: .4em;
  position: absolute;
  right: 0;
  top: 0;
}

a {
  color: #ed141d;
}

#content {
  border: 1px dotted #151515;
  margin: 0 auto;
  overflow: auto;
  width: 90%;
  margin-bottom: 4em;
}

article {
  border: 1px dotted #e2e2e2;
}
article h3 {
  font-size: 1.6em;
}
article h4 {
  font-size: 1.3em;
}

.full-width {
  margin: 1% auto;
  overflow: hidden;
  width: 98%;
}
.full-width aside {
  padding: 1%;
}

.half-width {
  padding: 1%;
  width: 46%;
}

.half-width:nth-of-type(1) {
  float: left;
  margin: 1.5% .5% 1.5% 1%;
}

.half-width:nth-of-type(2) {
  float: right;
  margin: 1.5% 1% 1.5% .5%;
}

footer {
  border-top: 1px dotted #e2e2e2;
}
footer p {
  padding: .4em;
}

@media (max-width: 600px) {
  header {
    padding: .8em 0;
  }

  .half-width {
    margin: 1% auto;
    width: 98%;
  }

  .half-width:nth-of-type(1) {
    float: none;
    margin: 1%;
  }

  .half-width:nth-of-type(2) {
    float: none;
    margin: 1%;
  }
}
