@import 'reset';

// Define color vaiables
$light-grey: #fbfbfb;
$text-red: #ed141d;

// Define border styles
$border-style: 1px dotted darken($light-grey, 10%);
$border-style-dark: 1px dotted darken($light-grey, 90%);

html{
  background-color:$light-grey;
  height: 100%;
  width: 100%;
  font-family: 'Arimo', sans-serif;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
}

h1, h2, h3, h4, h5{
  font-weight: 700;
}

hr{
  margin: 1em 0;
}

em{
  font-style: italic;
}

header{
  border-bottom: $border-style;
  position: relative;
  h1{
    color: $text-red;
    font-size: 2em;
    padding: .4em 0;
    text-align: center;
  }
  time{
    color: darken( $light-grey, 50%);
    padding: .4em;
    position: absolute;
    right: 0;
    top: 0;
  }
}

a{
  color: $text-red;
}

#content{
  border: $border-style-dark; 
  margin: 0 auto;
  overflow: auto;
  width: 90%;
  margin-bottom: 4em;
}

article{
  border: $border-style;
  h3{
    font-size: 1.6em;
  }
  h4{
    font-size: 1.3em;
  }
}

.full-width{
  margin: 1% auto;
  overflow: hidden;
  width: 98%;
  aside{
    padding: 1%;
  }
}

.half-width{
  padding: 1%;
  width: 46%;
}

// Half width articles with margin and padding required some coercing
// TODO add IE fix for nth-of-type selector
.half-width:nth-of-type(1){
  float: left;
  margin: 1.5% .5% 1.5% 1%;
}

.half-width:nth-of-type(2){
  float: right;
  margin: 1.5% 1% 1.5% .5%;
}

footer{
  border-top: $border-style;
  p{
    padding: .4em;
  }
}

// Mobile style
// Single breakpoint for this simple example
@media (max-width: 600px) {
  header{
    padding: .8em 0;
  }
  .half-width{
    margin: 1% auto;
    width: 98%;
  }
  .half-width:nth-of-type(1){
    float: none; 
    margin: 1%;
  }
  .half-width:nth-of-type(2){
    float: none; 
    margin: 1% 
  }

}
