@import 'reset';

// Define color vaiables
$light-grey: #fbfbfb;
$text-red: #ed141d;

// Define border styles
$border-style: 1px dotted darken($light-grey, 10%);
$border-style-dark: 1px dotted darken($light-grey, 90%);

html{
  background-color:$light-grey;
  height: 100%;
  width: 100%;
  font-family: 'Arimo', sans-serif;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
}

h1, h2, h3, h4, h5{
  font-weight: 700;
}

hr{
  margin: 1em 0;
}

header{
  border-bottom: $border-style;
  position: relative;
  h1{
    color: $text-red;
    padding: .4em 0;
  }
}

#content{
  border: $border-style-dark; 
  margin: 0 auto;
  width: 90%;
}


